# Predictions

In [1]:
# Import the necessary libraries 
import pandas as pd

In [2]:
# Read in the dataframes 
books = pd.read_csv('../data/processed/books.csv')
ratings = pd.read_csv('../data/processed/ratings.csv')
top_10_SVDpp= pd.read_csv('../data/processed/top_10_100_SVDpp.csv', index_col=0)
top_10_KNNBaseline = pd.read_csv('../data/processed/top_10_100_KNNBaseline.csv', index_col=0)

In [40]:
def top_ten_prediction(user_id, top_10, books):
    if user_id not in top_10.columns: 
        print("User id", user_id, "not in the database.")
        
        # cold_start
        cold = pd.DataFrame(books.sort_values('bayesian_avg', ascending=False)[:10])
        cold['predicted_rating'] = cold['bayesian_avg']
        cold = cold.sort_values(['predicted_rating','bayesian_avg'], ascending=[False, False])
        #print(cold)
        return(cold)
    
    else:
        top = pd.DataFrame()
        book_list = []
        print("Top predicted books for user id", user_id)
        #print(top_10[user_id])
        for book_id in top_10[user_id]:
            to_add = books[books.book_id == eval(book_id)[0]]
            #print(to_add)
            to_add['predicted_rating'] = eval(book_id)[1]
            #print(to_add)
            top = pd.concat([top, to_add]) 
            top = top.sort_values(['predicted_rating','bayesian_avg'], ascending=[False, False])
        #print(top)
    return(top)

In [41]:
top_10_SVDpp.head(3)

,1,2,4,8,11,15,18,22,24,25,...,38075,52199,16102,5242,12791,42977,41773,34531,7553,27329
0,"(5580, 4.549948969575827)","(7947, 4.745737373705782)","(464, 5)","(7947, 4.745737373705782)","(131, 4.921464073986611)","(7947, 4.745737373705782)","(7947, 4.418343341863211)","(5580, 4.69097964215209)","(4483, 4.845745803567019)","(7947, 4.745737373705782)",...,"(7947, 4.745737373705782)","(7947, 4.745737373705782)","(7947, 4.745737373705782)","(1198, 5)","(4, 5)","(464, 4.5841739675612025)","(7947, 4.745737373705782)","(7254, 5)","(9076, 4.97763072520487)","(3753, 5)"
1,"(7254, 4.517363801066359)","(5580, 4.71308779958996)","(4653, 4.905912553724049)","(5580, 4.71308779958996)","(83, 4.778837616619155)","(5580, 4.71308779958996)","(1788, 4.398587957736449)","(964, 4.627362615295945)","(7254, 4.765974205180721)","(5580, 4.71308779958996)",...,"(5580, 4.71308779958996)","(5580, 4.71308779958996)","(5580, 4.71308779958996)","(5580, 4.980494834429621)","(757, 5)","(5376, 4.556107968951171)","(5580, 4.71308779958996)","(1788, 5)","(11, 4.937928686085719)","(964, 5)"
2,"(4483, 4.446975937220179)","(6361, 4.679972395752708)","(5580, 4.863205923717746)","(6361, 4.679972395752708)","(160, 4.773976884170009)","(6361, 4.679972395752708)","(4483, 4.360146396176736)","(1788, 4.62286885710697)","(7947, 4.732955354558092)","(6361, 4.679972395752708)",...,"(6361, 4.679972395752708)","(6361, 4.679972395752708)","(6361, 4.679972395752708)","(9076, 4.958016218721828)","(5580, 5)","(7947, 4.50001995836539)","(6361, 4.679972395752708)","(6361, 5)","(862, 4.878456017368669)","(337, 5)"

In [42]:
top_10_KNNBaseline.head(3)

,1,2,4,8,11,15,18,22,24,25,...,38075,52199,16102,5242,12791,42977,41773,34531,7553,27329
0,"(4676, 4.713498742416295)","(862, 4.777977045440078)","(4676, 4.936617383807282)","(862, 4.777977045440078)","(4676, 4.8650418607368495)","(862, 4.777977045440078)","(4676, 4.720429496663909)","(4676, 4.789614094448979)","(4676, 4.894389533601471)","(862, 4.777977045440078)",...,"(862, 4.777977045440078)","(862, 4.777977045440078)","(862, 4.777977045440078)","(4676, 5)","(8946, 5)","(4676, 4.79362850759539)","(862, 4.777977045440078)","(3753, 5)","(4676, 5)","(3753, 5)"
1,"(7947, 4.5268151122590625)","(1788, 4.748665552320921)","(9076, 4.694545663288844)","(1788, 4.748665552320921)","(7254, 4.587570602492985)","(1788, 4.748665552320921)","(8946, 4.546398709236097)","(9076, 4.61953787434699)","(862, 4.776996838915768)","(1788, 4.748665552320921)",...,"(1788, 4.748665552320921)","(1788, 4.748665552320921)","(1788, 4.748665552320921)","(7947, 5)","(3660, 5)","(9076, 4.61171529146489)","(1788, 4.748665552320921)","(8946, 5)","(7947, 4.849871664863939)","(103, 5)"
2,"(8946, 4.515804818820051)","(6361, 4.729073026644194)","(8946, 4.665666827126575)","(6361, 4.729073026644194)","(7947, 4.587527267822143)","(6361, 4.729073026644194)","(862, 4.511844257051887)","(5580, 4.565944264502711)","(7947, 4.63039878514021)","(6361, 4.729073026644194)",...,"(6361, 4.729073026644194)","(6361, 4.729073026644194)","(6361, 4.729073026644194)","(862, 4.9590492643402335)","(4676, 5)","(5580, 4.600505601082409)","(6361, 4.729073026644194)","(7039, 5)","(5580, 4.835607319836763)","(1380, 5)"

In [43]:
print("7563" in top_10_SVDpp.columns)
top_10_SVDpp.columns

False

Index(['1', '2', '4', '8', '11', '15', '18', '22', '24', '25',
       ...
       '38075', '52199', '16102', '5242', '12791', '42977', '41773', '34531',
       '7553', '27329'],
      dtype='object', length=8757)

### Predict for a user in the database

In [53]:
# Top 10 and bottom 10 raters by id
print(ratings.user_id.value_counts(ascending=False)[:10])
print(ratings.user_id.value_counts(ascending=True)[:10])
print(ratings[ratings.user_id == 24].user_id.value_counts(ascending=False))

12874    200
30944    200
52036    199
12381    199
28158    199
45554    197
6630     197
37834    196
15604    196
7563     196
Name: user_id, dtype: int64
34590    19
43675    20
40753    21
32128    21
51725    21
42736    22
25258    22
38280    22
16470    22
37640    22
Name: user_id, dtype: int64
24    128
Name: user_id, dtype: int64

#### KNNBaseline

In [54]:
#Predict users top_ten books
top_books = top_ten_prediction("24", top_10_KNNBaseline, books)
top_books.reset_index(inplace=True)
top_books[['book_id', 'title','predicted_rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']]

Top predicted books for user id 24

C:\Users\cfran\AppData\Local\Temp/ipykernel_2680/2892154768.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_add['predicted_rating'] = eval(book_id)[1]

,book_id,title,predicted_rating,bayesian_avg,tag_1,tag_2,tag_3
0,4676,1/4 جرام,4.894390,3.898077,NaN,NaN,NaN
1,862,"Words of Radiance (The Stormlight Archive, #2)",4.776997,4.460310,NaN,NaN,NaN
2,7947,ESV Study Bible,4.630399,4.020578,NaN,NaN,NaN
3,9076,Preach My Gospel: A Guide To Missionary Service,4.621546,4.012837,NaN,NaN,NaN
4,6361,There's Treasure Everywhere: A Calvin and Hobb...,4.617338,4.165119,NaN,NaN,NaN
5,3395,The Kindly Ones (The Sandman #9),4.603491,4.227400,NaN,NaN,NaN
6,1308,A Court of Mist and Fury (A Court of Thorns an...,4.599025,4.399902,NaN,NaN,NaN
7,7254,Homicidal Psycho Jungle Cat: A Calvin and Hobb...,4.596952,4.104474,NaN,NaN,NaN
8,8946,The Divan,4.589578,3.994216,NaN,NaN,NaN
9,8663,"Locke & Key, Vol. 6: Alpha & Omega",4.577021,4.051593,NaN,NaN,NaN

#### SVDpp

In [55]:
#Predict users top_ten books
top_books = top_ten_prediction("24", top_10_SVDpp, books)
top_books.reset_index(inplace=True)
top_books[['book_id', 'title','predicted_rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']]

Top predicted books for user id 24

C:\Users\cfran\AppData\Local\Temp/ipykernel_2680/2892154768.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_add['predicted_rating'] = eval(book_id)[1]

,book_id,title,predicted_rating,bayesian_avg,tag_1,tag_2,tag_3
0,4483,It's a Magical World: A Calvin and Hobbes Coll...,4.845746,4.233393,NaN,NaN,NaN
1,7254,Homicidal Psycho Jungle Cat: A Calvin and Hobb...,4.765974,4.104474,NaN,NaN,NaN
2,7947,ESV Study Bible,4.732955,4.020578,NaN,NaN,NaN
3,1788,The Calvin and Hobbes Tenth Anniversary Book,4.719061,4.333782,NaN,NaN,NaN
4,6361,There's Treasure Everywhere: A Calvin and Hobb...,4.703012,4.165119,NaN,NaN,NaN
5,5580,The Calvin and Hobbes Lazy Sunday Book,4.700008,4.145851,NaN,NaN,NaN
6,8233,The Book of Disquiet,4.669224,3.984208,NaN,NaN,NaN
7,5754,Collected Fictions,4.659365,4.078890,NaN,NaN,NaN
8,7264,Master of the Senate (The Years of Lyndon John...,4.638277,4.014226,NaN,NaN,NaN
9,3491,Just Mercy: A Story of Justice and Redemption,4.625525,4.133579,NaN,NaN,NaN

### Real Ratings

In [56]:
real_ratings = ratings[ratings.user_id == 24]
real_ratings = pd.merge(real_ratings, books, on='book_id')
real_ratings = real_ratings.sort_values(['rating','bayesian_avg'], ascending=[False, False])
real_ratings[['book_id', 'title','rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']].head(10)

,book_id,title,rating,bayesian_avg,tag_1,tag_2,tag_3
56,1597,"The Power of One (The Power of One, #1)",5,4.145103,NaN,NaN,NaN
26,662,Interpreter of Maladies,5,4.014954,fiction,classics,philosophy
25,289,"Watership Down (Watership Down, #1)",5,3.978715,NaN,NaN,NaN
7,1031,A Moveable Feast,5,3.953368,NaN,NaN,NaN
4,1752,Animal Dreams,5,3.935819,NaN,NaN,NaN
10,2142,The Iliad/The Odyssey,5,3.931378,suspense,fiction,romance
82,82,Into the Wild,5,3.819360,NaN,NaN,NaN
49,1806,Fall on Your Knees,5,3.818342,NaN,NaN,NaN
75,895,The Year of Magical Thinking,5,3.800415,NaN,NaN,NaN
22,326,White Oleander,5,3.790965,NaN,NaN,NaN

## Predict for a user not in the database

KNNBaseline and SVDpp should be the same, since they are showing a generic recommendation.

#### KNNBaseline

In [48]:
#Predict users top_ten books
top_books = top_ten_prediction("37640", top_10_SVDpp, books)
top_books.reset_index(inplace=True)
top_books[['book_id', 'title','predicted_rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']]

User id 37640 not in the database.

,book_id,title,predicted_rating,bayesian_avg,tag_1,tag_2,tag_3
0,25,Harry Potter and the Deathly Hallows (Harry Po...,4.502533,4.502533,humor,nonfiction,memoir
1,422,"Harry Potter Boxset (Harry Potter, #1-7)",4.479617,4.479617,NaN,NaN,NaN
2,862,"Words of Radiance (The Stormlight Archive, #2)",4.460310,4.460310,NaN,NaN,NaN
3,780,Calvin and Hobbes,4.433867,4.433867,NaN,NaN,NaN
4,27,Harry Potter and the Half-Blood Prince (Harry ...,4.422748,4.422748,travel,non-fiction,nonfiction
5,192,The Name of the Wind (The Kingkiller Chronicle...,4.421306,4.421306,NaN,NaN,NaN
6,24,Harry Potter and the Goblet of Fire (Harry Pot...,4.411219,4.411219,travel,non-fiction,nonfiction
7,1010,The Essential Calvin and Hobbes: A Calvin and ...,4.409991,4.409991,NaN,NaN,NaN
8,18,Harry Potter and the Prisoner of Azkaban (Harr...,4.400003,4.400003,NaN,NaN,NaN
9,1308,A Court of Mist and Fury (A Court of Thorns an...,4.399902,4.399902,NaN,NaN,NaN

#### SVDpp

In [49]:
#Predict users top_ten books
top_books = top_ten_prediction("37640", top_10_KNNBaseline, books)
top_books.reset_index(inplace=True)
top_books[['book_id', 'title','predicted_rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']]

User id 37640 not in the database.

,book_id,title,predicted_rating,bayesian_avg,tag_1,tag_2,tag_3
0,25,Harry Potter and the Deathly Hallows (Harry Po...,4.502533,4.502533,humor,nonfiction,memoir
1,422,"Harry Potter Boxset (Harry Potter, #1-7)",4.479617,4.479617,NaN,NaN,NaN
2,862,"Words of Radiance (The Stormlight Archive, #2)",4.460310,4.460310,NaN,NaN,NaN
3,780,Calvin and Hobbes,4.433867,4.433867,NaN,NaN,NaN
4,27,Harry Potter and the Half-Blood Prince (Harry ...,4.422748,4.422748,travel,non-fiction,nonfiction
5,192,The Name of the Wind (The Kingkiller Chronicle...,4.421306,4.421306,NaN,NaN,NaN
6,24,Harry Potter and the Goblet of Fire (Harry Pot...,4.411219,4.411219,travel,non-fiction,nonfiction
7,1010,The Essential Calvin and Hobbes: A Calvin and ...,4.409991,4.409991,NaN,NaN,NaN
8,18,Harry Potter and the Prisoner of Azkaban (Harr...,4.400003,4.400003,NaN,NaN,NaN
9,1308,A Court of Mist and Fury (A Court of Thorns an...,4.399902,4.399902,NaN,NaN,NaN

### Real Ratings for that user

In [50]:
real_ratings = ratings[ratings.user_id == 37640]
real_ratings = pd.merge(real_ratings, books, on='book_id')
real_ratings = real_ratings.sort_values(['rating','bayesian_avg'], ascending=[False, False])
real_ratings[['book_id', 'title','rating', 'bayesian_avg', 'tag_1', 'tag_2', 'tag_3']].head(10)

,book_id,title,rating,bayesian_avg,tag_1,tag_2,tag_3
14,109,Les Misérables,5,4.095763,NaN,NaN,NaN
4,125,Hamlet,5,3.995079,NaN,NaN,NaN
8,2033,عزازيل,5,3.969736,NaN,NaN,NaN
1,7823,عائد إلى حيفا,5,3.947721,NaN,NaN,NaN
0,1887,Cyrano de Bergerac,5,3.944277,NaN,NaN,NaN
21,8748,رأيت رام الله,5,3.926300,NaN,NaN,NaN
18,461,"The Good Earth (House of Earth, #1)",5,3.913542,NaN,NaN,NaN
5,353,Othello,5,3.903060,science-fiction,sci-fi,fiction
2,154,Macbeth,5,3.898857,NaN,NaN,NaN
15,778,The Hunchback of Notre-Dame,5,3.868710,NaN,NaN,NaN